<style>
            h1{
                color:blue;
                text-align:center;
                align:center;
                margin:50px 400px;
                background-color:orange;"
            }
            p{
                text-align:right;
                margin:10px 10px 0px 0px;
            }
</style>
